.item-details__img {
    min-height: 150px;
    max-width: 180px;
    border-radius: 10px;
}

@media (max-width: 991px) {
    .item-details__img {
        height: 150px;
    }
}

@media (max-width: 767px) {
    .item-details {
        padding-top: 2rem;
    }
}
