.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(216, 66, 66);
}
.error-indicator span {
    margin-top: 3rem;
    font-size: 2rem;
}
